# PayPal Config
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=ASSliDYKV_oegv0sWN2MaF0mHMfQo6avfPYdYJhFu5O2tFv-bscGJm6xDLdBn0TJPvtUTI8o-9XJ2sJ_
PAYPAL_CLIENT_SECRET=EAAtAgMHvoHoxJTCChXNVJ7kM54ey96Mi9oVaCNWyo4ElrpPq5E1LzQlqhDxHyh1qK_jamYdywCou2VM
PAYPAL_PLAN_ID=P-YOUR_PLAN_ID
PAYPAL_WEBHOOK_ID=7BB76911JF4662208

# Telegram Config
TELEGRAM_BOT_TOKEN=6643071259:AAEUd6kF3OL0lmgfqZiv1_AWMtWFmPgL3d4

# Server Config
PORT=3001
NODE_ENV=development
BASE_URL=http://trelk.site

# Database - MongoDB
MONGODB_URI_PAYMENTS=mongodb+srv://botmaria95:odop1712@cluster0.zt2kped.mongodb.net/payments
MONGODB_URI_MBOTS=mongodb+srv://botmaria95:odop1712@cluster0.zt2kped.mongodb.net/mbot
EXTERNAL_API_KEY=dev-7f5b3c3e-5d3b-4a6e-9f4d-8c9e8f7e6d5c
